@font-face {
  font-display: swap;
  font-family: "pf_square_sans_probold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pfsquaresanspro-bold-webfont.woff2") format("woff2"), url("../fonts/pfsquaresanspro-bold-webfont.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "pf_square_sans_proregular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pfsquaresanspro-regular-webfont.woff2") format("woff2"), url("../fonts/pfsquaresanspro-regular-webfont.woff") format("woff");
}
