.features {
  margin-top: rem(-450);
  margin-bottom: rem(50);

  .container {
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      padding: 0 5px;
    }
  }
}

.features__slider {
  width: rem(770);
  height: rem(650);
  margin: 0 auto;
  margin-bottom: rem(40);
  padding: rem(100);
  padding-bottom: rem(300);
  background: url("../img/general/features-bg.png") center/contain no-repeat;

  @media (max-width: 600px) {
    width: 100%;
    max-width: 580px;
    min-height: auto;
    padding: 5%;
    background: $black;
    background-image: none;
  }

  .slick-arrow {
    position: absolute;
    top: 32%;
    width: rem(25);
    height: rem(40);
    padding: 0;
    font-size: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .slick-prev {
    left: rem(35);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129'%3E%3Cpath fill='%23ffffff' d='M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z'/%3E%3C/svg%3E") center/cover no-repeat;
    transform: rotate(180deg);
  }

  .slick-next {
    right: rem(35);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129'%3E%3Cpath fill='%23ffffff' d='M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z'/%3E%3C/svg%3E") center/cover no-repeat;
  }
}

.feature {
  color: #ededf7;
}

.feature__title {
  margin-bottom: rem(25);
  font-size: rem(45);
  line-height: 1;
  font-weight: 400;
}

.feature__item {
  position: relative;
  margin-bottom: rem(15);
  padding-left: rem(15);
  line-height: 1;

  &::before {
    content: "-";
    position: absolute;
    top: 0;
    left: 0;
  }
}


.features__action {
  margin: 0 auto;
}

.features__action-btn {
  display: block;
  padding: rem(20) rem(30);
  font-family: $bold;
  line-height: rem(40);
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #1d71b6 0%, #135393 100%);
  border: none;
  border-radius: rem(40);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  @media (max-width: 400px) {
    padding: 10px;
    font-size: 15px;
  }

  &:hover {
    background: linear-gradient(to bottom, #1e71b4 0%, #0a2e52 100%);
  }

  &:focus {
    background: linear-gradient(to bottom, #1e71b4 0%, #0a2e52 100%);
    outline: none;
  }
}
